body{
	background: url("../img/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	font-family: 'Gidole';
}

a {
	color: lightseagreen;
}

/* Usaremos una fuente que utilizo en mi propia página web. */
@font-face {
    font-family: "Gidole";
	src: url("https://josevarela.xyz/Gir.otf") format('truetype');
}

.header{
	display: flex;
	flex-flow: row;
	align-items: center;
	gap: 10px;
}

.header > img{
	width: 64px;
}

table,th,td {
	background-color: black;
	border: 1px solid white;
	border-collapse: collapse;
	padding: 15px;
}

.listadoPaginas{
	display: flex;
	justify-content: space-between;
}